BASE_APP_URL='https://wallet.tonkeeper.com'
TRANSACTION_TESTS=true
TON_MNEMONIC_24=''
TON_MNEMONIC_24_2=''
TON_MNEMONIC_24_3=''
TON_MNEMONIC_24_4=''
TON_MNEMONIC_24_5=''
TON_MNEMONIC_ANANAS=''
TON_MNEMONIC_12=''
TON_MNEMONIC_12_2=''
FAKE_MNEMONIC=''